<div class="container">
  <h1>Restaurants</h1>
  <%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-primary mb-3 "%>
  <% @restaurants.each do |restaurant| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <p class="card-text"><%= restaurant.category %></p>
      <%= link_to "View Details", restaurant_path(restaurant), class: "btn btn-outline-primary" %>
    </div>
  </div>
  <% end %>
</div>
